<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Özel Dersler</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OzelDersler.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- The sidebar -->
        <div class="sidebar">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Anasayfa</a>
            <a asp-area="Admin" asp-controller="Teacher" asp-action="Index">Öğretmenler</a>
            <a asp-area="Admin" asp-controller="Student" asp-action="Index">Öğrenciler</a>
            <a asp-area="Admin" asp-controller="Branch" asp-action="Index">Branşlar</a>
            <a asp-area="Admin" asp-controller="Course" asp-action="TeachersCourses">Öğretmen Kursları</a>
            <a asp-area="Admin" asp-controller="Course" asp-action="StudentsCourses">Öğrenci Kursları</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Uygulamaya Dön</a>
        </div>

        <!-- Page content -->
        <div class="content">
            @RenderBody()
        </div>
    </header>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
